@{
    ViewBag.Title = "Welcome to Math Mania";
}
<h2>@ViewBag.Title</h2>



<h4>Math Mania is a practice game for elementary first grade students <br>
    that allows them to practice the skills they are learning in class.<br> 
    </h4>
<h3>How it works:</h3>
<h4>Students will log in to play the games.  Once logged in they will see<br>
    the different practice module topics that they can choose from.</h4>
<h3>How does it help the teacher?</h3>
<h4>Teachers will be able to log in and view the students progress to <br>
    determine where the student is excelling and where an individual might need help.<br>
    Teachers can also view statistics on the entire class to determine if <br>
    if there are any areas that need to be revisited during lesson time.</h4>
